
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; 
  }
  
  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px; 
    width: 90%; 
  }
  
  .dashboard h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333; 
  }
  
  .dashboard ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dashboard li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0; 
    border-radius: 8px;
    background-color: #f9f9f9; 
  }
  
  .dashboard h3 {
    font-size: 20px;
    margin: 0;
    color: #333; 
  }
  
  .dashboard p {
    font-size: 16px;
    margin: 5px 0;
    color: #666; 
  }
  
  .dashboard img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  